/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 375px;
    padding-block-start: 100px;
    margin: 0 auto;

    font-family: var(--main-font), sans-serif;
    font-variation-settings: "wght" var(--font-weight);
    background-color: var(--main-background-color, white);
    color: var(--color-accent);
    background-image: var(--background-gradient);
    background-size: cover;
    background-attachment: fixed;
}

.header {
    inline-size: clamp(23.5rem, 16.344rem + 30.4511vw, 43.75rem);
    padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
    padding-block-end: 22px;
    margin-bottom: 100px;

    margin-inline: auto;

    background-color: var(--main-background-color);
    font-family: var(--accent-font, "PressStart2P"), fantasy;
    border: var(--border-size) var(--color-accent) solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header__logo {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    text-transform: uppercase;
}

.header__title {
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.header__theme-menu {
    margin-block-start: 3px;
    margin-inline-start: -1px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-inline-start: 20px;
}

.theme-menu__button {
    position: relative;
    background: none;
    border: none;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    appearance: none;
    cursor: pointer;

    transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
    opacity: 0.6;
    pointer-events: none;
}

.theme-menu__button:disabled::before {
    content: "▶";
    position: absolute;
    inset-inline-start: -19px;
    inset-block-start: 1px;
    animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
    opacity: 0.6;
}

.theme-menu__button:focus {
    outline: 0;
    opacity: 0.6;
}

.theme-menu__button::after {
    content: "";
    display: block;
    background: currentColor;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;

    block-size: 2px;
}

.theme-menu__button:focus-visible::after {
    transform: scaleX(1);
}

.main {
    padding-block-end: 50px;
}

.cards__list {
    margin-block-end: 50px;
    display: flex;
    flex-direction: column;
    gap: 51px;
}

.card {
    inline-size: clamp(23.5rem, 16.344rem + 30.4511vw, 43.75rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    border: var(--border-size) solid var(--color-accent);
    background: var(--main-background-color);
}

.card__title {
    padding-inline: 10px;
    padding-block-start: 4px;
    padding-block-end: 3px;

    font-variation-settings: "wght" var(--font-weight-title, 700);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card__image-container {
    position: relative;
    display: flex;
    border-block: var(--border-size) solid var(--color-accent);
}

.card__image-text {
    position: absolute;
    right: 25px;
    top: 25px;

    z-index: 1;
    font-family: var(--accent-font, "PressStart2P"), fantasy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: var(--main-text-color, #000);

    opacity: 0.5;
    text-shadow: 0 -1px 0 var(--main-background-color, #fff),
    0 1px 0 var(--main-background-color, #fff),
    1px 0 0 var(--main-background-color, #fff),
    -1px 0 0 var(--main-background-color, #fff);
    mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
    .card__image-text {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--main-background-color, #fff);
        text-stroke: 1px var(--main-background-color, #fff);
    }
}

.card__image-image {
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.card__description {
    padding: 25px 25px 0;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}

.card__description-text {
    font-size: 18px;
    line-height: 21px;
    padding-inline-end: 4px;
}

.card__feedback {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
    gap: 4px;
}

.card__icon-button {
    background: none;
    block-size: 38px;
    border: 2px solid transparent;
    padding: 0;
    cursor: pointer;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border-color: var(--main-text-color, #000);
    transition: border-color 0.3s ease;
}

.base-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 18px;
    border: 2px solid var(--color-accent, #000);
    background-color: var(--main-background-color, #fff);
    font-family: var(--accent-font, "PressStart2P"), fantasy;
    font-size: 14px;
    line-height: 90%;
    font-variation-settings: "wght" var(--font-weight, 400);

    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.base-button:focus {
    outline: 0;
}

.base-button:focus-visible {
    box-shadow: 2px 2px 0 0 var(--main-text-color, black);
}

.base-button::before {
    width: 100%;
    height: 100%;
    position: absolute;

    content: "";
    inset: 0;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--color-accent, #000);
    transition: transform 0.5s ease-in-out;
}

.base-button:hover::before {
    transform: scaleX(1);
}

.card__like-button {
    inline-size: 130px;
    cursor: pointer;
}

.button__text {
    color: var(--button-inverse-text-color, #fff);
    mix-blend-mode: difference;
}

.button__text-uppercase {
    text-transform: uppercase;
}

.card__icon-button:focus {
    outline: 0;
}

.card__icon-button:focus-visible {
    border-color: var(--main-text-color, #000);
}

.footer {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 102px;
}

.button__save {
    margin: 0 auto;
    padding: 15px 20px;
    gap: 8px;
}

.button__icon {
    width: 21px;
    height: 21px;

    mix-blend-mode: difference;
    color: var(--button-inverse-text-color, #fff);
}

.dialog {
    padding: 30px;
    max-width: none;
    color: var(--main-text-color, #000);
    font-family: var(--accent-font, "PressStart2P"), fantasy;
    line-height: 150%; /* 21px */
    text-transform: uppercase;
    background: var(--main-background-color, #fff);
}

.dialog[open] {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 30px;
}

.dialog__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.floppy__open {
    width: 39px;
    height: 39px;
    flex-shrink: 0;
    align-content: center;
}

.dialog::backdrop {
    opacity: 75%;
    background: var(--main-background-color, #000);
}

.dialog__button {
    padding: 9px 17px;
    inline-size: 100%;
}

.save__dialog-text {
    font-family: var(--accent-font), fantasy;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    text-transform: uppercase;
    max-inline-size: 234px;
}

/* filters section start */
.filter-brightness {
    filter: brightness(135%);
}

.filter-kek {
    filter: brightness(68%) saturate(0%) contrast(184%);
}

.filter-sepia {
    filter: sepia(10%);
}

.filter-huerotate {
    filter: hue-rotate(180deg);
}

.filter-saturation {
    filter: saturate(300%);
}

.filter-grayscale {
    filter: grayscale(100%);
}

.filter-blur {
    filter: blur(20px);
}

/* filters section end */

@media (width <= 375px) {
    .page {
        inline-size: 100%;
    }

    .button__save {
        flex-direction: column;
    }

    .button__icon {
        width: 28px;
        height: 28px;
    }

    .dialog {
        padding: 30px 40px;
    }

    .save__dialog-text {
        max-inline-size: 198px
    }

    .card__image-text {
        top: 23px;
        right: 11px;
    }
}