/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  /* gap: 99px; */
  padding-inline: var(--padding-conteiner);
  padding-block: 100px 103px;
  color: var(--text-color);
  font-family: var(--font-family sans-serif), "IBM Plex mono", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  background-color: var(--backgraund-color);
  background-image: var(--background-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--text-card-weight, 400);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  border: 2px solid var(--border-color, #000);
  padding-inline: clamp(0rem, -2.4615rem + 14.2357vw, 4rem);
  padding-block: 136px 25px;
  font-family: var(--second-family, sans-serif);
  text-transform: uppercase;
  background-color: var(--backgraund-color, #fff);
  margin-bottom: 99px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.5449rem + 1.4085vw, 1.4375rem);
}

.theme-menu__list {
  position: relative;
  left: 9px;
  display: grid;
  gap: 9px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

/* . */

.theme-menu__button:hover:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  &::before {
    content: "▶";
    position: absolute;
    left: -18px;
    background-color: inherit;
    animation: arrow 0.5s ease-in-out infinite alternate;
  }
}

.theme-menu__button:hover:enabled {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--decoration-color-focus);
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

/* . */

.content__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.card {
  border: 2px solid var(--border-color, #000);
  background-color: var(--backgraund-color, #fff);
}

.card__title {
  padding: 5px 10px;
  font-family: var(--font-family, sans-serif);
  font-size: 18px;
  font-variation-settings: "wght" var(--font-card-weight);
}

.overlay__box {
  position: relative;
  border-block: 2px solid var(--border-color);
}

.card__img {
  position: relative;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.filter-drop-shadow-contrast {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7)) contrast(1.2);
}
.filter-grayscale-sepia {
  filter: grayscale(0.8) sepia(0.3);
}
.filter-hue-rotate-saturate {
  filter: hue-rotate(45deg) saturate(1.5);
}
.filter-blur {
  filter: blur(2px) brightness(0.9);
}
.filter-contrast-brightness {
  filter: contrast(1.4) brightness(1.3);
}
.filter-invert-sepia {
  filter: invert(0.9) sepia(0.5);
}
.filter-drop-shadow-saturate {
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)) saturate(1.8);
}
.filter-opacity-blur-contrast-hue-rotate {
  filter: opacity(0.9) blur(1px) contrast(1.2) hue-rotate(30deg);
}

.overlay-text {
  position: absolute;
  top: 29px;
  right: 26px;
  opacity: 0.5;
  font-family: var(--second-family);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px var(--shadow-overlay, #fff);
  mix-blend-mode: hard-light;
  paint-order: stroke fill;
}

.section:nth-of-type(n + 4) .overlay-text {
  text-transform: lowercase;
}

@supports (
  (text-stroke: 1px var(--shadow-overlay, #fff)) or
    (-webkit-text-stroke: 1px var(--shadow-overlay, #fff))
) {
  .overlay-text {
    text-shadow: none;
    text-stroke: 1px var(--shadow-overlay, #fff);
    -webkit-text-stroke: 1px var(--shadow-overlay, #fff);
  }
}

.card__text-button {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 25px;
}

.card__text {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-family);
}

.card__box {
  display: grid;
  gap: 27px;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.card__icon-button {
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  width: 39px; 
  height: 36px;
  border: 2px solid transparent;
  outline: none;
  background: none;
  transition: border-color 0.3s ease;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border: 2px solid var(--border-color);
  }
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 131px;
  border: 2px solid var(--border-color, #000);
  padding: 15px 20px;
  overflow: hidden;
  color: var(--color-bt);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  background-color: var(--backgraund-color);
  transition: 0.3s ease;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 2px 2px 0 0 var(--shadow-button-focus);
  }
}

/* .button__like {
  padding: 9px;
} */

.card__like-button {
  padding: 9px;
}

.overlay-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-bt);
  transition: 0.5s ease-in-out;
}

.overlay-button:hover::before {
  left: 0;
}

.button__text {
  z-index: 1;
  color: var(--color-bt);
  font-size: 14px;
  mix-blend-mode: difference;
}



/* animation heart */

.card__icon-button:hover {
  & .core {
    fill: var(--core-svg-like);
    transition: fill 0.3s linear;
  }

  & .main-body {
    fill: var(--main-body-svg-like);
    transition: fill 0.3s linear;
    transition-delay: 0.05s;
  }
}

.card__icon-button:active {
  & .core {
    fill: red;
    transition: fill 0.3s linear;
  }

  /* 0.03 */

  & .main-body {
    fill: red;
    transition: fill 0.3s 0.05s linear;
  }
}

.like-icon.is-liked .core {
  fill: red;
  transform: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: red;
  transform: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s 0.05 linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s ease-in 0.1s 1;
  animation-direction: alternate;
  
}

.like-icon.is-liked .sparks {
  animation: sparks-heart 0.3s ease-in 0.3s 1;
  animation-direction: alternate;
}

/* animation heart */

.card__button-floppy {
  background-color: #000;
  mix-blend-mode: difference;
}


.button-dialog {
  padding: 9px 17px;
}

.button-dialog:nth-last-child().button__text {
  text-transform: uppercase;
}

.dialog-title {
  text-transform: uppercase;
}
.dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 357px;
  padding: 30px;
  color: var(--text-color);
  background-color: var(--backgraund-color);
}

.dialog-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog-text {
  width: 234px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  white-space: normal;
}

@media (width <= 375px) {
  .page {
    padding-block: 100px;
  }

  .content__section {
    gap: 54px;
  }

  .header {
    padding-block: 120px 25px;
  }

  .theme-menu__list {
    left: 10px;
  }

  .card__img {
    min-width: 371px;
  }

  .button {
    flex-direction: column;
  }

  .card__box {
    gap: 29px;
  }

  .card__button-floppy {
    width: 28px;
    height: 28px;
  }

  .overlay-text {
    top: 23px;
    right: 11px;
    text-transform: lowercase;
  }

  /* .dialog {
    top: 144px;
  } */
}