/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 375px;
    padding-block-start: 100px;
    margin: 0 auto;

    font-family: var(--main-font), sans-serif;
    font-variation-settings: "wght" var(--font-weight);
    background-color: var(--main-background-color, white);
    color: var(--color-accent);
    background-image: var(--background-gradient);
    background-size: cover;
    background-attachment: fixed;
}

.header {
    inline-size: clamp(23.5rem, 16.344rem + 30.4511vw, 43.75rem);
    padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
    padding-block-end: 22px;
    margin-bottom: 100px;
    padding: 130px 0 130px 0;
    margin-inline: auto;

    background-color: var(--main-background-color);
    font-family: var(--accent-font, "PressStart2P"), fantasy;
    border: var(--border-size) var(--color-accent) solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header__logo {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    text-transform: uppercase;
}

.header__title {
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.main {
    padding-block-end: 50px;
}

.cards__list {
    margin-block-end: 50px;
    display: flex;
    flex-direction: column;
    gap: 51px;
}

.card {
    inline-size: clamp(23.5rem, 16.344rem + 30.4511vw, 43.75rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    border: var(--border-size) solid var(--color-accent);
    background: var(--main-background-color);
}

.card__title {
    padding-inline: 10px;
    padding-block-start: 4px;
    padding-block-end: 3px;

    font-variation-settings: "wght" var(--font-weight-title, 700);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card__image-container {
    position: relative;
    display: flex;
    border-block: var(--border-size) solid var(--color-accent);
}

.card__image-text {
    position: absolute;
    right: 25px;
    top: 25px;

    z-index: 1;
    font-family: var(--accent-font, "PressStart2P"), fantasy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: var(--main-text-color, #000);

    opacity: 0.5;
    text-shadow: 0 -1px 0 var(--main-background-color, #fff),
    0 1px 0 var(--main-background-color, #fff),
    1px 0 0 var(--main-background-color, #fff),
    -1px 0 0 var(--main-background-color, #fff);
    mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
    .card__image-text {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--main-background-color, #fff);
        text-stroke: 1px var(--main-background-color, #fff);
    }
}

.card__image-image {
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.card__description {
    padding: 25px 25px 0;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}

.card__description-text {
    font-size: 18px;
    line-height: 21px;
    padding-inline-end: 4px;
}

.card__feedback {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
    gap: 4px;
}

.card__icon-button {
    background: none;
    block-size: 38px;
    border: 2px solid transparent;
    padding: 0;
    cursor: pointer;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border-color: var(--main-text-color, #000);
    transition: border-color 0.3s ease;
}

.base-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 18px;
    border: 2px solid var(--color-accent, #000);
    background-color: var(--main-background-color, #fff);
    font-family: var(--accent-font, "PressStart2P"), fantasy;
    font-size: 14px;
    line-height: 90%;
    font-variation-settings: "wght" var(--font-weight, 400);

    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.base-button:focus {
    outline: 0;
}

.base-button:focus-visible {
    box-shadow: 2px 2px 0 0 var(--main-text-color, black);
}

.base-button::before {
    width: 100%;
    height: 100%;
    position: absolute;

    content: "";
    inset: 0;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--color-accent, #000);
    transition: transform 0.5s ease-in-out;
}

.base-button:hover::before {
    transform: scaleX(1);
}

.card__like-button {
    inline-size: 130px;
    cursor: pointer;
}

.button__text {
    color: var(--button-inverse-text-color, #fff);
    mix-blend-mode: difference;
    position: relative;
    z-index: 1;
}

.button_dialog-open {
  margin: 0 auto;
  padding: 15px 17px;
}

.card__icon-button:focus {
    outline: 0;
}

.card__icon-button:focus-visible {
    border-color: var(--main-text-color, #000);
}

.footer {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 102px;
}

.dialog {
  position: fixed;
  inset: 0;
  box-sizing: border-box;
  margin: auto;
  border: 2px solid var(--main-color, #000);
  padding: 30px;
  background-color: var(--bg-color, #fff);
  max-inline-size: 353px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: var(--main-color, #000);
}

.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.dialog__text {
  margin: 0;
  color: var(--main-color, #000);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  text-transform: uppercase;
}

.dialog__close {
  justify-content: center;
  width: 100%;
}

.button_dialog-open {
  margin: 0 auto;
  padding: 15px 17px;
}

.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--main-color, #000);
  padding: 11px 17px;
  overflow: hidden;
  color: var(--main-color, #000);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 13px;
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--main-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color, #000);
}

/* filters section start */
.filter-brightness {
    filter: brightness(135%);
}

.filter-kek {
    filter: grayscale(0.8);
}

.filter-sepia {
    filter: saturate(4) blur(0.5px);
}

.filter-huerotate {
    filter: hue-rotate(30deg) brightness(0.95) blur(0.5px);
}

.filter-saturation {
    filter: invert(1) contrast(0.6) blur(0.5px);
}

.filter-grayscale {
    filter: sepia(0.9) contrast(0.9);
}

.filter-blur {
    filter: blur(20px);
}

.filters-section-end {
    filter: saturate(2) brightness(0.8) contrast(0.4) hue-rotate(90deg)
    blur(1.5px);
}

@media (width <= 375px) {
    .page {
        inline-size: 100%;
    }

    .button_dialog-open {
    flex-direction: column;
  }

    .floppy-icon {
    width: 28px;
    height: 28px;
  }

     .button_dialog-open {
    flex-direction: column;
  }

  .dialog {
    padding: 30px 40px;
    max-inline-size: 341px;
  }

    .card__image-text {
        top: 23px;
        right: 11px;
    }
}